
body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 80px 0;
    color: #161a20;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(rgb(221, 79, 150) 0%, rgb(56, 70, 159) 85%);
    box-sizing: border-box;
}
.form {
    width: 450px;
    padding: 30px;
    margin: auto;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(24,0,0,0);
    box-sizing: border-box;
}
.form-group {
    position: relative;
    margin-bottom: 30px;
}
.title {
    margin: 0 0 40px;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.15;
}
.form-item {
    width: 100%;
    padding: 18px 20px;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    border: 1px solid #b0b7be;
    box-sizing: border-box;
}
.form-item:focus {
    outline: none;
    border: 1px solid #5B4FC6;
    box-shadow: 0 0 1px #5B4FC6;
}
.form-item[readonly="readonly"] {
    outline: none;
    border: 1px solid #E7EEF5;
}
.form-label {
    display: block;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 500;
}
.error {
    border: 1px solid red;
}
.error ~ .error__text {
    display: block;
}
.error__text {
    display: none;
    position: absolute;
    margin: 5px 0;
    color: red;
    font-size: 11px;
}
.main__btn {
    display: block;
    border-radius: 100px;
    width: 300px;
    height: 58px;
    margin: auto;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background: #7F4CA1;
}
.main__btn:hover {
    background: #38469F;
}
.main__btn:focus {
    outline: none;
}
.main__btn:active {
    background: #38469F;
}
.main__btn[disabled="disabled"],
.main__btn[disabled="disabled"]:focus{
    opacity: 0.6;
    cursor: default;
    background: #7F4CA1;
}